body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0
background #fff0f5;
color: #333;
}
header
{
    background-color: #ff69b4;
    color: white;
    padding: 20px 0;
    text-align: center;
}
nav a
{ 
    color: white;
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
}
.hero
{
    background-position: center;
    color: rgb(148, 12, 12);
    text-align: center;
    padding: 100x 20px;
    background-size: cover;
}
.hero h1
{
    font-size: 3rem;
    margin: 0;
}